<div class="row h-100">
  <div class="col-2">
    <%= render "shared/navbar" %>
  </div>  
  <div class="col-9">
    <div class="px-3 py-1 bordered bordered-first d-flex justify-content-between">
      <h5>Home</h5>
      <i class="far fa-star"></i>
    </div>
    <div class="p-3 bordered d-flex flex-column">
      <p>What's happening?</p>
      <%= link_to "Tweet", new_tweet_path, class: "btn btn-primary align-self-end" %>
    </div>
    <%= render "tweets", tweets: @tweets %>
  </div>
</div>