
<div class="row home-row">
  <div class="col-7 home-left">
    Twitter
  </div>
  <div class="col-5">
    <div class="d-flex flex-column justify-content-center h-100">
      <i class="fab fa-twitter fa-3x mb-3"></i>
      <h2 class="font-weight-bold">Happening now</h2>
      <span class="font-weight-bold">Join Twitter today.</span>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary mt-3 w-75" %>
      <%= link_to "Log in", new_user_session_path, class:"btn btn-outline-primary mt-3 w-75" %>
    <div>
  </div>
</div>
