/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
@import 'bootstrap/dist/css/bootstrap';
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

html, body {
  color: rgb(217, 217, 217);
  height: 100%;
  background-color: rgb(0, 0, 0);
  //font-family: 'Roboto', sans-serif;
}

p{
  font-size: 0.9rem;
}

.btn{
  border-radius: 50rem;
}

.btn-primary{
  background-color: rgb(29, 161, 242);
}

.btn-outline-primary{
  border-color: rgb(29, 161, 242);
  color: rgb(29, 161, 242);
}

.btn-outline-primary:hover{
  background-color: black;
  color: rgb(29, 161, 242);
}

.bordered {
  border: 1px solid #2f2f30;
  border-top: none;
  border-radius: 0;
}

.fa-plus-circle{
  color:rgb(29, 161, 242)
}

.list-group{
  border-radius: 0;
}

.tweet{
  color: rgb(217, 217, 217);
  background: none;
  border-top: none;
  border-color: #2f2f30;
}

.tweet:hover{
  background:#242525;
  color: rgb(217, 217, 217);
  cursor: pointer;
}

.btn-tweet-options{
  background: none;
  color:  #6c757d
}

.btn-tweet-options:hover{
  background: #161e25;
  color:  rgb(29, 161, 242);
}

.nav a {
  color: rgb(217, 217, 217);
  text-decoration: none;
}

.nav .link:hover{
  color: rgb(29, 161, 242);;
}

.nav a{
  color: rgb(217, 217, 217);
}

a, a:hover{
  color: rgb(217, 217, 217);
}

.btn-nav:hover {
  background: #161e25;
}

img{
  border-radius: 50%;
}

small{
  color: #6c757d;
}

.fa-arrow-left{
  color:  rgb(29, 161, 242);
}

.nav-link.active{
  background: none!important;
  color: rgb(29, 161, 242)!important;
  border: none!important;
  border-bottom: solid rgb(29, 161, 242)!important;
}

.nav-link{
  border: none!important;
}

.nav-tabs{
  border: none;
}

.dropdown-menu{
  border: 1px solid #6c757d;
  background: black;
  border-radius: 15rem;
}

.dropdown-item{
  background: black;
  color:rgb(217, 217, 217);
}

.dropdown-item:hover{
  background: #242525;;
  color:rgb(217, 217, 217);
}

.page-link {
  color: rgb(217, 217, 217);
  background-color: black;
  border: none;
}

.page-link:hover{
  background-color: #242525;
  color: rgb(217, 217, 217);
}

.page-item.active .page-link {
  background-color: black;
  color:rgb(29, 161, 242);
  border: none;
  border-bottom: solid rgb(29, 161, 242);
}

.page-item.disabled .page-link {
  background-color: black;
  color:#6c757d;
  border-color: #6c757d;
  border: none;
}

.alert{
  background: black;
  border: none;
}

.new-tw{
  background: none;
  border: none;
}

.new-tw:focus{
  background: none;
  border: none;
  color: rgb(217, 217, 217);
}

.search{
  background-color: #242525;
  color: #6c757d;
  border-radius: 50rem;
  border: none;
}

.search:focus{
  background-color: black;
  color: #6c757d;
  border-color: rgb(29, 161, 242);;
}

.search-container .fa-search { 
  position: absolute;
  top: 12px;
  left: 30px;
  cursor: pointer;
}

.search-container {
  position: relative;
}

.search-container input { text-indent: 32px;}